[Unit]
Description=Announce RabbitMQ
BindsTo=rabbitmq.service

[Service]
# ToDo:
# consider --ttl value (60?) & sleep value (45?)
ExecStart=/bin/sh -c '\
  IPADDR=$(hostname -i | awk "{ print \$1 }"); \
  SET_JSON="{ \\\"host\\\": \\\"%H\\\", \\\"ipaddr\\\": \\\"$IPADDR\\\", \\\"port\\\": \\\"1883\\\" }"; \
  while true; do \
    etcdctl set /services/mqtt-broker "$SET_JSON" --ttl 2; \
    sleep 1; \
  done'
ExecStop=/usr/bin/etcdctl rm /services/mqtt-broker

[X-Fleet]
MachineOf=rabbitmq.service
