[Unit]
Description=Announce RabbitMQ
BindsTo=rabbitmq.service

[Service]
# ExecStart=/bin/sh -c "while true; do etcdctl set /services/mqtt-broker '{ \"host\": \"%H\", \"port\": 1883}' --ttl 60;sleep 45;done"
ExecStart=/bin/sh -c "while true; do etcdctl set /services/mqtt-broker '{ \"host\": \"%H\", \"port\": 1883}' --ttl 2;sleep 1;done"
ExecStop=/usr/bin/etcdctl rm /services/rabbitmq

[X-Fleet]
MachineOf=rabbitmq.service
